@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center container">
        <h1 class="display-4">Welcome to the <strong>biggest</strong> bank.</h1>
       
        @*<video id="myVideo"src="~/video.mp4" autoplay="autoplay" loop="loop" muted></video>*@
    </div>
    
